/* general styles */

html {
    box-sizing: border-box; 
}

*, *:before, *:after { 
    box-sizing: inherit; 
}

body { 
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* header styles & responsive reactions */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 20px;
    display: flex; /* establish flex container */
    justify-content: space-between; /* keep space between even so three elements remain left, cetner, right */
    /* background-color: rgb(60, 121, 253); */
    background-image: linear-gradient(to right, rgb(64, 124, 255), rgb(142, 177, 255));
    color: white;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
    z-index: 100;
    box-shadow: 0 0 7.5px rgba(0,0,0,0.8);
}

.header-logout {
    display: none;
}

/* container & wrappers style */

.container {
    display: block;
    position: relative;
    margin: 0 auto;
    min-height: 800px;
    width: 95%;
    padding: 1%;
    color: rgb(65, 65, 65);
    border: 1px solid rgba(0, 87, 201, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 7.5px rgba(0,0,0,0.8);
    /* overflow-wrap: break-word; */
}

.h {
    display: inline;
}

.v {
    display: block;
    margin: 1% auto;
}

.wrapper {
    display: block;
    position: relative;
    text-align: center;
    padding: 1%;
    margin: 1% auto;
    line-height: 1.5;
}

.data-cell {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: text-top;
    margin: 1% auto;

}

#data_header {
    text-decoration: underline;
    font-weight: 600;
}

.student-click {
    text-decoration: underline;
    color: rgba(0, 87, 201, 0.8);
}

.lg-btn,
.sm-btn,
.cell-btn {
    margin: 1% auto;
    border-radius: 5px;
    /* background-color: rgb(60, 121, 253); */
    background-image: linear-gradient(to top, rgb(64, 124, 255), rgb(142, 177, 255));
    color: white;
}

.lg-btn {
    padding: 2%;
}

.sm-btn,
.cell-btn {
    padding: 1%;
}

/* .back-btn {
    font-weight: 900;
    font-size: 125%;
    color: rgb(172, 172, 172);
    margin-top: 0;
    margin-left: 1%;
} */

.reg-frm,
.cell-frm {
    text-align: left;
    margin: 1% auto;
    border-radius: 5px;
    padding: 1%;
}

.reg-frm {
    padding: 1%;
}

.cell-frm {
    padding: 1%;
}

.cell-box {
    margin: 15% auto;
}

.note-frm {
    text-align: left;
    margin: 1% auto;
    border-radius: 5px;
    padding: 1%;
    width: 75%;
}

/* footer style */

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* hover effects for all clickable elements */

button:hover,
.header-title:hover,
.header-logout:hover,
.student-click:hover,
.back-btn:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: transform .25s;
}

/* responsive styles */

@media (max-width: 768px) {
    header {
        position: absolute;
        display: block;
        text-align: center;
        font-size: 150%;                  
    }
    
    .container {
        margin-top: 250px;                
    }

    .wrapper {
      width: 100%;
      font-size: 150%;
    }

    .data-cell  {
        width: 100%;
    }

    #data_header {
        font-size: 125%;
    }

    #data_cell {
        font-size: 125%;
    }

    .lg-btn, 
    .sm-btn, 
    .cell-btn {
        width: 75%;
        font-size: 125%;
    }

    .cell-frm,
    .reg-frm,
    .note-frm {
        width: 75%;
        font-size: 100%;
    }

    input[type="checkbox"] {
        height: 35px;
        width: 35px;
    }
}

@media (min-width: 769px) {
    header {
        font-size: 100%;
    }

    .container {
        margin-top: 110px;
    }

    .wrapper {
        width: 100%;
    }

    #data_header {
        font-size: 75%;
    }

    #data_cell {
        font-size: 75%;
    }

    .cell6 {
        width: 15.5%;
    }

    .cell11 {
        width: 9%;
    }

    .cell12 {
        width: 8%;
    }

    .lg-btn {
        width: 22%;
        margin-top: 1%;
        margin-left: .5%;
        margin-right: .5%;
        font-size: 150%;
    }
 
    .sm-btn {
        width: 17%;
        margin-top: 1%;
        margin-left: .5%;
        margin-right: .2%;
        font-size: 125%;
    }

    .cell-btn {
        width: 50%;
        font-size: 75%;
    }

    .reg-frm {
        width: 35%;
        margin-top: 1%;
        font-size: 100%;
    } 

    .cell-frm {
        width: 75%;
        font-size: 75%;
    }

    input[type="checkbox"] {
        height: 17px;
        width: 17px;
    }

    .note-frm {
        font-size: 100%;
    }
}