/* general styles */

html {
    box-sizing: border-box; 
}

*, *:before, *:after { 
    box-sizing: inherit; 
}

body { 
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}


/* hover effects for all clickable elements */

button:hover ,
.header-logout:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: transform .25s;
}

/* header styles & responsive reactions */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 20px;
    display: flex;                  /* establish flex container */
    justify-content: space-between; /* keep space between even so three elements remain left, cetner, right */
    background-color: rgb(60, 121, 253);
    color: white;
    align-items: center;
    padding: 1%;
    z-index: 100;
    box-shadow: 0 0 7.5px rgba(0,0,0,0.8);
}

/* .header-title {

} */

.header-logout {
    display: none;
}

/* .header-user {
    
} */

/* container & wrappers style */

.container {
    display: block;
    position: relative;
    margin: 0 auto;
    min-height: 200px;
    width: 95%;
    padding: 1%;
    color: rgb(80, 80, 80);
    border: 1px solid rgba(0, 87, 201, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 7.5px rgba(0,0,0,0.8);
}

.h {
    display: inline;
}

.v {
    display: block;
}

.wrapper {
    display: block;
    position: relative;
    text-align: center;
    padding: 2%;
    margin: 1% auto;
}

/* .data-header {
    display: inline-block; 
    position: relative;
    text-align: center;
    margin: 1% auto;
    text-decoration: underline;
} */

/* <div class="wrapper">        
<!-- wrappers for each data header -->
    <p class="data-header">Header 1</p>
    <p class="data-header">Header 2</p> 
    <p class="data-header">Header 3</p> 
    <p class="data-header">Header 4</p> 
    <p class="data-header">Header 5</p> 
    <p class="data-header">Header 5</p> 
    <p class="data-header">Header 6</p> 
    <p class="data-header">Header 7</p> 
    <p class="data-header">Header 8</p> 
    <p class="data-header">Header 9</p> 
    <p class="data-header">Header 10</p> 
    <p class="data-header">Header 11</p> 
    <p class="data-header">Header 12</p>  
</div>  */

.data-cell {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 1% auto;
}

.lg-btn,
.sm-btn {
    margin: 1% auto;
    border-radius: 5px;
    background-color: rgb(60, 121, 253);
    color: white;
}

.lg-btn {
    font-size: 150%;
    padding: 2%;
}

.sm-btn {
    font-size: 100%;
    padding: 1%;
}

.lg-frm,
.sm-frm {
    text-align: center;
    margin: 1% auto;
    border-radius: 5px;
    padding: 1%;
}

.lg-frm {
    font-size: 150%;
    padding: 1%;
}

.sm-frm {
    font-size: 100%;
    padding: 1%;
}

/* footer style */

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 20px;
    display: flex;                  /* establish flex container */
    align-items: center;
    justify-content: center;
}

/* responsive styles */

@media (max-width: 768px) {
    header {
        display: block;
        position: relative;
        text-align: center;
        font-size: 150%;                  
    }
    
    .container {
        margin-top: 2.5%;                
    }

    .wrapper {
      width: 100%;
      font-size: 150%;
    }

    .data-header {
        display: none;
      }

    .data-cell  {
        width: 100%;
        font-size: 150%;
    }

    .lg-btn, 
    .sm-btn, 
    .lg-frm, 
    .sm-frm {
        width: 75%;
        font-size: 150%;
    }
}

@media (min-width: 768px) {
    header {
        font-size: 100%;
    }

    .container {
        margin-top: 125px;
    }

    .wrapper {
        width: 100%;
    }
  
    .data-header {
        width: 7%;
    }

    .data-cell {
        width: 7%;
    }

    .lg-btn {
        width: 25%;
        margin-top: 1%;
    }
 
    .sm-btn {
        width: 20%;
        margin-top: 1%;
    }

    .lg-frm, 
    .sm-frm {
        width: 35%;
        margin-top: 1%;
    }
}